{% extends "base.html" %}
{% load static %}
{% get_media_prefix as MEDIA_URL %}
{% load socialaccount %}
{% block title %}Inicio • Mercadito{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<section class="hero">
    <div class="hero-content">
        <h1>Bienvenido a tu mercadito de confianza</h1>
        <p>El lugar donde comprar y vender es fácil, seguro y divertido</p>
        <a href="{% url 'core:tienda' %}" class="hero-btn">Ver productos</a>
    </div>
</section>
<div class="principal">
    <main class="product-list">
        <!-- Producto 1 -->
        <div class="product">
            <img src="..\media\home\primera-imagen.jpg" alt="Chica escribiendo en una computadora.">
            <div class="description">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Architecto modi iure maiores accusantium voluptas aliquid.
                </p>
            </div>
        </div>

        <!-- Producto 2 -->
        <div class="product reverse">
            <div class="description">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Nihil magni mollitia deleniti, inventore corporis adipisci!
                </p>
            </div>
            <img src="https://via.placeholder.com/150" alt="Producto 2">
        </div>
    </main>
</div>

{% endblock %}
