{% extends 'base.html' %}
{% load static %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="index-hero d-flex flex-column justify-content-center align-items-center text-center">
    <h1 class="display-4 mb-4">Encuentra el lugar perfecto al cual llamar hogar</h1>
    <p class="lead mb-4">
        Somos un espacio que conecta dueños con inquilinos.<br>
        Desde CasaMia entendemos lo desafiante que es alquilar,<br>
        por eso priorizamos la sencillez y te ahorramos tiempo.<br>
        ¿Qué dices? ¿Buscamos tu nuevo hogar?
    </p>
    <a href="{% url 'listar_propiedades' %}" class="btn btn-primary btn-lg">Buscar mi nuevo hogar</a>

</div>
{% endblock %}
